@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  --bg-dark:hsl(235, 21%, 11%) ;
  --bg-light:hsl(0, 0%, 98%) ;

  --input-bg-dark: #25273c;
  --input-bg-light: #ffffff;

  --input-text-light: #c5c7df;
  --input-text-dark: #434247;

  --bright-blue: hsl(220, 98%, 61%);
  --greyesh-blue-1: hsl(235, 19%, 35%);

  --grey-1: hsl(234, 39%, 85%);

  --gradient-1: hsl(192, 100%, 67%);
  --gradient-2: hsl(280, 87%, 65%);
}

body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.light-list-bg {
  background-color: var(--input-bg-light);
}
.dark-list-bg {
  background-color: var(--input-bg-dark);
}
.light-text {
  color: var(--input-text-dark);
}
.dark-text {
  color: var(--input-text-light);
}

.footer-text-light > p:hover {
  color:hsl(236, 33%, 92%);
  cursor: pointer;
}

.footer-text-dark > p:hover {
  color: hsl(235, 19%, 35%);
  cursor: pointer;
}

  .dark-bg {
    background-color: var(--bg-dark);
  }

  .light-bg {
    background-color: var(--bg-light);
  }


@media only screen and (max-width: 500px) {
  html {
    font-size: 90%;
  }
}
